.shipping-title{
	text-align: left;
	margin: 1.5rem 3rem;
}

.shipping-details{
	border: 1px solid grey;
	border-radius: 3px;
	width: 20%;
	margin: 1rem 0rem 1rem 4rem;
	padding: 1rem 0.5rem ;
	box-shadow: -5px 5px 5px 1px #b1b493;
	background: #f7f7ee;
	min-height: 220px;
}

.shipping-details:hover{
	border:1.2px solid #2196f3;
}

.active-address{
	border:1.2px solid #2196f3;
}

.shipping-details > h3{
	text-align: center;
	text-transform: uppercase;
	margin: 0.1rem 0;
}

.shipping-details div{
	text-align: left;
	color: grey;
	margin: 1rem 0.5rem;
}

.shipping-name{
	font-weight: 600;
	color: black;
	margin: 0.25rem 0 0.5rem 0;
}

.shipping-address{
	color: black;	
	font-size: 0.8rem;
	margin: 0.25rem 0 0.5rem 0;

}

.shipping-phone{
	color: black;
	margin: 0.25rem 0 0.5rem 0;
	font-size: 0.9rem;
}

.new-address{
	display: flex;
  	align-items: center;
  	justify-content: center;
  	cursor: pointer;
}

.add-sign{
	width: 1rem;
	margin: 0 0.75rem;
}

.map-nav{
	width: 85vw;
	background: white;
	display: inline-grid;
}

.confirm-location{
	position: absolute;
	border-radius: 20px;
	border: 1px solid #342b38;
	background-color: #342b38;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	cursor: pointer;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin: 0px 5px 5px;
}

.back-to-addresses{
	display: inline-grid;
	justify-content:flex-start;
	cursor: pointer;
	width: 85vw;
}

.back-to-addresses h3 {
	margin: 0;
}

.back-to-addresses img {
	width: 1rem;
	margin: 0 0.5rem -0.1rem 0;
}