.map-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0rem 0 1.5rem 0;
}

.pin{
	height: 1.5rem;
	width: 1.5rem;
	margin-right: 0.25rem;
}

.info-window {
	background: white;
}

.locate-me-button{
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	width: 10rem;
	height: 3rem;
	background: white;
	border: 1px solid black;
	border-radius: 4rem;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	font-weight: bold;
	outline: none;
	cursor: pointer;
}

.add-new-address{
	display: inline-grid;
	text-align: left;
	padding: 0.75rem 1rem;
	width: 85vw;
	margin: 0;
	margin-top: 1.75rem;
	background: #342b38;
	color: white;
	border-radius: 5px 5px 0 0;
}