.cart-title{
	margin-left: 3rem;
	text-align: left;
}

.cart-container{
	display: flex;
	justify-content: space-around;
}

.start-shopping{
	border:none;
	background: #2196f3;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	margin: 1rem 0;
	padding: 0.75rem 1.25rem;
	outline: none;
	cursor: pointer;
}

@media screen and (max-width: 1150px){
	.cart-container{
		display: inline-grid;
	}
}

.empty-cart-img{
	width: 190px;
	margin-right: 55px;
}