.profile-title{
	margin-left: 3rem;
	text-align: left;
}

.modal{
	position: fixed;
	z-index: 500;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
  	background-color: rgb(0,0,0);
 	background-color: rgba(0,0,0,0.4);
}

.change-password-container{
	position: fixed;
	top: 10vh;
	right: 0;
	left: 0;
	max-width: 450px;
	margin: auto;
	border-radius: 3px;
	background: white;
	border: 1px solid red;
	padding: 2rem 1rem;
}

.change-password-title{
	line-height: 12px
}

.change-password-title p{
	font-size: 10px;
}