.s-nav-bar{
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
  height: 2.25rem;
}

.s-nav {
  font-size: 1.1rem;
  cursor: pointer;
}

@media screen and (max-width: 780px){
  .s-nav{
    font-size: 0.85rem
  }
}

@media screen and (max-width: 600px){
  .s-nav{
    font-size: 0.65rem
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.2);
  padding: 0.5rem;
  z-index: 1;
  margin: 0;
  font-size: 0.9em;
}

.dropdown-content p:hover {
  color: black ;
  cursor: pointer;
}

.dropdown-content p {
  float: none;
  color: grey;
  padding: 0.25rem;
  display: block;
  text-align: left;
  margin: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover >p{
  color: #f7f1e3;
}

@media screen and (max-width: 780px){
  .dropdown-content{
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px){
  .dropdown-content{
    font-size: 0.5rem;
  }
}
