.react-autosuggest__container {
	margin: auto 5px;
}

.react-autosuggest__input {
	font-size: medium;
	width: 55vw;
	padding: 0.5rem;
	border: 0;
	border-radius: 1rem;
	outline: none;
}

.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 1px grey solid;
	margin-top: 15px;
}

.react-autosuggest__suggestions-container {
	display: none;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.react-autosuggest__suggestions-container--open {
	display: block;
	flex-direction: column;
	text-align: left;
	background-color: #fff;
	box-shadow: 0 10px 12px 0 rgba(0,0,0,0.3);
	z-index: 2;
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}

.react-autosuggest__suggestion:last-child{
	border-bottom-left-radius: 1rem;
  	border-bottom-right-radius: 1rem;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
	background-color: rgba(0,0,0,0.1);
}

@media (max-width: 780px){
	.react-autosuggest__input{
		width: 40vw;
	}
}
