*{
	font-family: courier;
}

p{
	poitner: cursor;
}

@media screen and (min-width: 601px){
	.l-nav {
		font-size: 1.5rem
	}
	.s-nav {
		font-size: 1.25rem
	}
	.dropdown-content{
		font-size: 1rem
	}
}


@media screen and (max-width: 600px){
	.l-nav {
		font-size: 1.2rem
	}
	.s-nav{
		font-size: 1rem
	}
	.dropdown-content{
		font-size: 0.75rem;
	}
}