.cart-items-container{
	display: inline-grid;
	width: 60vw;
}

@media screen and (max-width: 1150px){
	.cart-items-container{
		width: 85vw;
	}
}

.item-container{
	height: 9rem;
	background: #a2de96;
	display: flex;
	position: relative;
	border-radius: 0.5rem;
	color: #2F4858;
	margin:1rem 0.5rem 1.5rem 0.5rem;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.product-img {
	border-radius: 0.5rem 0 0 0.5rem; 
	width:25%;
}

.product-details{
	margin-left:2rem;
	text-align: left;
	text-transform: uppercase;
}

.qty{
	margin: 1.25rem 0.35rem;
}

.product-action{
	margin-right: 2rem;
}

.bin-img{
	width: 50px;
	cursor: pointer;
}