@media screen and (min-width: 1061px){
	.features-container{
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 1060px){
	.features-container{
		display: inline-grid;
	}
}