.order-summary-container{
	width: 27rem;
}

.order-summary{
	text-align: left;
	white-space: nowrap;
	margin: 1rem 2rem;
	padding: 3rem 3.5rem;
	background: #184d47;
	color: white;
	border-radius: 0.5rem;
}

@media screen and (max-width: 1150px){
	.order-summary-container{
		width: 90vw;
		margin: auto;
	}
}


.order-summary span{
	word-spacing: -5px;
	float: right;
}

.checkout-botton{
	width: 100%;
	border: 0;
	margin-top:1rem;
	height: 3rem;
	border-radius: 3px;
	color:black;
	background: #d6efc7;
	outline: none;
	cursor: pointer;
	transition-duration: .7s
}

.checkout-botton:hover{
	transform: scale(1.05);
}