.xs-nav{
	background-color: #485460;
	color:white;
	height: 1.5rem
}

.left >p{
	margin:2px 0.5em;
	padding: 0;
	cursor: default;
}

.right >p{
	margin: 2px 1em;
	padding: 0;
	margin-left: 2rem;
	cursor: pointer;
}

.right p:hover{
    color: lightblue ;
}