[contenteditable] {
  outline: 0px solid transparent;
}

.fixed{
	position: fixed;
	top: 0;
	left : 0;
	right: 0;
	height: 4rem;
}

.cart{
	height: 1.15rem;
	width: 1.15rem;
	padding:0 0 0 0.5rem
}

.logo{
	height: 2rem;
	width: 2rem;
	margin: 1rem 3rem
}

.search{
	width: 50%;
	margin: 1rem 2rem;
	padding: 1rem;
	border: 0;
	border-radius: 1rem;
}

.l-nav {
	font-size: 1.25rem;
	margin: 1rem ;
}

.s-nav {
	font-size: 1.1rem
}

.dropdown-content{
	font-size: 0.9rem
}

.s-circle{
	color: red;
	border-radius: 50%;
	background:white;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 0.9rem;
	width: 0.9rem;
	font-size: 0.75rem;
	margin-top: -0.6rem;
	margin-left:-0.5rem ; 
}

.hide{
	visibility: hidden;
}

.tooltipNav {
  position: relative;
}

.tooltipNav .tooltipTextNav {
  visibility: hidden;
  width: 10rem;
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 120%;
  margin-left: -5rem;
}

.tooltipNav .tooltipTextNav::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.tooltipNav:hover .tooltipTextNav {
  visibility: visible;
}

.tooltipTextNav div {
	padding: 1rem;
	font-size: 0.75em;
	margin: 0;
	display: flex;
	justify-content: center;
}

.tooltipTextNav div:hover {
	background: rgba(0,0,0,0.05);
}

#signout:hover{
	color: red
}



@media screen and (max-width: 780px){
	.l-nav {
		font-size: 1rem
	}
	.s-nav{
		font-size: 0.85rem
	}
	.dropdown-content{
		font-size: 0.7rem
	}
	.search{
		width: 30%;
	}
}